<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("common/Header"); -%>
    <h1>ad a new product to the database</h1>
    <form method="POST", action="/createProduct">
    <p>Product ID</p>
    <input type="number"  id="productid" name="productid"></input>

    <p>Name</p>
    <input type="text"  id="name"  name="name"></input>

    <p>Description</p>
    <input type="text" " id="description" name="description"></input>

    <p>brand</p>
    <input type="text"  id="brand" name="brand"></input>

    <p>colour</p>
    <input type="text"  id="colour" name="colour"></input>

    <p>price</p>
    <input type="number"  id="price" name="price"></input>

    
    <p>quantity</p>
    <input type="number"  id="quantity" name="quantity"></input>
    
    <button type="submit">add product</button>

    </form>




    


    




</body>

</html>