<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("common/Header"); -%>
    <hr>
    <div id="about">
    <h1>About</h1>
    <p1>this website is a demo of how it can be used to display the quantity of products ins stock in a retail business</p1></div>
</body>
</html>


<style>



#about{
 width: 80%;
 background-color: white;
 margin-left: 10%;
 border-style: solid;
 border-color: black;
 border-width: 2px;
 font-size: 20px;
}


</style>