 
<!–– Site wide header ––>
<header>


    <hl>whats in stock?</hl>
    
    <p><a href="/">Home</a> | 
   <!-- <a href="listProducts">List1</a> |-->
    <a href="inStock">inStock</a>
    <!--<a href="Login">Login</a> |-->
 </p>


</header>


<style>
    
    
    header{
        background-color: lightgray;
        padding: 10px;
        font-size: 35px;
        
    }

</style>
