 
<!–– Site wide header ––>
<header>


    <hl>whats in stock?</hl>
    <hr>
    <p><a href="/">Home</a> | 
    <a href="listProducts">List1</a> |
    <a href="Login">Login</a> |
    </p>

    


</header>


<style>
    *{background-color:rgba(128, 128, 128, 0.349)}
    
    header {
        background-color: gray;
        font-size: 40px;
        color:black;
    }
    

</style>
